html {
    font-size: 62.5%; // Set the 'rem' measures to be x10 bigger than the pixel measures
}

body {
    background: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;  // We set some fonts, prioritized and used as each system supports the fonts
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}